html body {
  background-color: #646cffaa;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  padding:0;
  margin: 0 auto;
  max-width: 1920px;
  position: relative;
  width: 100%;
}

